{% extends 'headerPage.html' %}

{% block content%}

<h1>Dog classification</h1>
<h2>With Deeep learning</h2>
<p class="txtcenter">
    Accuracy will be better if the picture is clear ^^
</p>
<form method="post" enctype="multipart/form-data" action="predictImage">
    {% csrf_token %}
    <div class="input-file-container">
        <input name='filePath' class="input-file" type="file" id="my-file">
        <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
        <p class="txtcenter">
            <p class="file-return"></p>
        </p>
        <input type="submit" value="Predict">
    </div>

    <div class='output-file-container'>
        <img src={{filePathName}} class="centerImage">
        
        <p class="txtcenter">
            <h2>Predict: {{predictedLabel}}</h2>
        </p>
    </div>


</form>



{% endblock %}